@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/****************************************************
 ******************   VARIABLES   *******************
 ****************************************************/

:root {
  /* Colors */
  --clr-green-200: #e0f1e8;
  --clr-green-600: #0c7d69;
  --clr-grey-500: #86a2a5;
  --clr-grey-900: #2a4144;
  --clr-red: #d73c3c;
  --clr-white: #ffffff;

  /* Font Family */
  --ff-primary: "Karla", sans-serif;

  /* Font Size */
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-32: 2rem;

  /* Font Weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Line Height */
  --lh-100: 1;
  --lh-150: 1.5;

  /* Spacing */
  --sp-8: 0.5rem;
  --sp-12: 0.75rem;
  --sp-16: 1rem;
  --sp-24: 1.5rem;
  --sp-32: 2rem;
  --sp-40: 2.5rem;
  --sp-128: 8rem;
}

/****************************************************
 *******************   RESET   **********************
 ****************************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-inline: none;
  background-color: var(--clr-green-200);
}

body {
  min-height: 100dvh;
  font-family: var(--ff-primary);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  color: var(--clr-grey-900);
}

p,
h1,
label,
legend {
  overflow-wrap: break-word;
}

fieldset {
  border: none;
}

button,
input,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/****************************************************
 *******************   CONTAINER   ******************
 ****************************************************/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: clamp(
    var(--sp-16),
    calc(var(--sp-16) + (128 - 16) * ((100vw - 26.875rem) / (1440 - 430))),
    var(--sp-128)
  );
  padding-block: clamp(
    var(--sp-32),
    calc(var(--sp-32) + (128 - 32) * ((100vw - 26.875rem) / (768 - 430))),
    var(--sp-128)
  );
  min-height: 100dvh;
}

/****************************************************
 ********************   FORM   **********************
 ****************************************************/

.contact {
  display: flex;
  flex-direction: column;
  gap: var(--sp-32);
  padding-block: clamp(var(--sp-24), 5.5vw, var(--sp-40));
  padding-inline: clamp(var(--sp-24), 5.5vw, var(--sp-40));
  background-color: var(--clr-white);
  width: 100%;
  max-width: 46rem;
}

.title {
  font-size: var(--fs-32);
  font-weight: var(--fw-bold);
  line-height: var(--lh-100);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--sp-40);
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--sp-24);
  grid-template-areas:
    "first first"
    "last last"
    "email email"
    "query query"
    "message message";
}

@media (width >= 48rem) {
  .form-wrapper {
    column-gap: var(--sp-16);
    row-gap: var(--sp-24);
    grid-template-areas:
      "first last"
      "email email"
      "query query"
      "message message";
  }
}

.first-name {
  grid-area: first;
}

.last-name {
  grid-area: last;
}

.email {
  grid-area: email;
}

.query-type {
  grid-area: query;
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
}

.message {
  grid-area: message;
}

.form-group:not(.query-type) {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
}

.form-group label,
.form-group legend {
  display: flex;
  gap: var(--sp-8);
}

.form-group legend {
  margin-block-end: var(--sp-16);
}

.query-group {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
}

@media (width >= 48rem) {
  .query-group {
    flex-direction: row;
  }
}

.form-item {
  display: flex;
  align-items: center;
  gap: var(--sp-12);
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: var(--sp-16);
}

.error {
  color: var(--clr-red);
}

/****************************************************
 *****************   NOTIFICATION   *****************
 ****************************************************/

.notification {
  position: fixed;
  top: var(--sp-24);
  left: var(--sp-24);
  right: var(--sp-24);
  padding-block: var(--sp-24);
  padding-inline: var(--sp-24);
  margin-inline: auto;
  max-width: 28.125rem;
  border-radius: var(--sp-12);
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
  /* Animation */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s;
  z-index: 1000;
}

.notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.notification-header {
  display: flex;
  align-items: center;
  gap: var(--sp-8);
}

.notification-icon {
  width: var(--sp-24);
  height: var(--sp-24);
}

.notification-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-title {
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
}

.notification-message {
  color: var(--clr-green-200);
}
